.projects {
  position: relative;
  padding: 0;
  overflow: hidden;
  background-color: var(--color-ink);
  z-index: 1;
  background-color: var(--color-reverse);
  /* overflow: hi; */
}

.projectList {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: row;
  gap: var(--space-sm);
  align-items: center;
  width: 100%;
  min-height: 100lvh;
  gap: 20vw;
  padding: 0 35vw;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  transition: opacity var(--anim-lg), translate var(--anim-lg);
}

.projectList[data-animate-hidden="true"] {
  opacity: 0;
  translate: 0 60px;
}

.project {
  flex: 30vw 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  scroll-snap-align: center;
}

.projectCard {
  background-color: var(--color-ink);
  color: var(--color-reverse);
  border-radius: var(--radius-lg);
  aspect-ratio: 3 / 4;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  gap: var(--space-xs);
  overflow: hidden;
}

.projectCardMedia {
  flex-grow: 1;
  justify-self: stretch;
  display: flex;
  justify-content: center;
  align-items: center;
}

.video {
  width: 90%;
  border-radius: var(--radius-sm);
  box-shadow: 4px 4px 20px rgba(0,0,0,.2);
}

.cardImage {
  width: 90%;
  border-radius: var(--radius-sm);
  box-shadow: 4px 4px 20px rgba(0,0,0,.2);
}

.projectCardInfo {
  padding: var(--space-xs) var(--space-sm) ;
  display: flex;
  flex-direction: column;
  gap: var(--space-2xs);
  align-self: stretch;
  text-align: center;
}

.backgroundMedia {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: unset;
  max-height: unset;
  height: 100%;
  width: 100%;
  z-index: 0;
  object-fit: cover;
  transition: opacity 2s var(--anim-easing);
}

.backgroundMedia:global(.hidden) {
  opacity: 0;
}

@media screen and (max-width: 768px) {

  .projectList {
    gap: 10vw;
    padding: 0 20vw;
  }
  
  .project {
    flex: 60vw 0 0;
  }
}