.quote {
    width: 100%;
    overflow: visible;
    padding: var(--space-2xl) var(--page-margin) var(--space-2xl) var(--page-margin-narrow);
  }
  
  .sectionTitle {
    min-height: 100lvh;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 0;
    color: var(--color-primary);
  }
  
  .imageGrid {
    min-height: 300lvh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    position: relative;
    z-index: 1;
  }
  
  .image {
    width: 100%;
    border-radius: var(--radius-sm);
  }
  
  .image:nth-child(3n + 1) {
    align-self: center;
  }
  
  .image:nth-child(3n + 2) {
    align-self: end;
  }
  
  .image:nth-child(3n + 3) {
    align-self: start;
  }

@media screen and (max-width: 768px) {

    .imageGrid {
    min-height: 200lvh;
    }
}
  

