.quote {
    width: 100%;
    overflow: visible;
    padding: var(--space-2xl) var(--page-margin) var(--space-2xl) var(--page-margin-narrow);
}
  
.sectionTitle {
    min-height: 100lvh;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 0;
    color: var(--color-primary);
    translate: 0 0px;
    opacity: 1;
    transform: skewY(0deg);
    transform-origin: top left;
    transition: opacity var(--anim-lg), translate var(--anim-lg), transform var(--anim-lg);
}

.sectionTitle[data-animate-hidden="true"] {
    transform: skewY(2deg);
    translate: 0 60px;
    opacity: 0;
}

.textStroke,
.textFill {
    position: absolute;
    top: 50%;
    left: 0;
    translate: 0 -50%;
}

.textStroke {
    
}

.textStroke span {
    /* --scroll-progress: 30%; */
    /* overflow: hidden; */
    /* color: transparent */
    color: var(--color-primary);
    -webkit-text-fill-color: transparent; 
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--color-primary);
    background-image: linear-gradient(90deg, var(--color-primary), var(--color-primary));
    /* background-color: red; */
    background-clip: text;
    background-repeat: no-repeat;
    background-size: var(--scroll-progress) 100%;
    /* background-size: var(--scroll-progress) 100%; */
}

.textFill {
    --scroll-percent: 20%;
    color: var(--color-primary);
    clip-path: polygon(0 0, var(--scroll-percent) 0, var(--scroll-percent) 110%, 0 110%);
}
   
.imageGrid {
    min-height: 300lvh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    position: relative;
    z-index: 1;
    gap: var(--space-md);
    perspective: 1000px;
}
  
.image {
    width: 100%;
    border-radius: var(--radius-sm);
    height: auto;
    transform: rotateX(0deg);
    transform-origin: top center;
    transition: opacity var(--anim-lg), transform var(--anim-lg);
}

.image[data-animate-hidden="true"] {
    opacity: 0;
    transform: rotateX(40deg);
}
  
.image:nth-child(3n + 1) {
    align-self: center;
}

.image:nth-child(3n + 2) {
    align-self: end;
}

.image:nth-child(3n + 3) {
    align-self: start;
}

@media screen and (max-width: 768px) {

    .imageGrid {
        min-height: 200lvh;
        grid-template-columns: repeat(2, 1fr);
    }
}
  

