button {
    position: relative;
    display: flex;
    flex-direction: row;
    gap: var(--space-xs);
    align-items: center;
    border-radius: var(--radius-rounded);
    border: 1px solid transparent;
    padding: var(--space-2xs) var(--space-2xs) var(--space-2xs) var(--space-sm);
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: var(--color-reverse);
    cursor: pointer;
    transition: border-color 0.25s;
    color: inherit;
  }

button:hover {
  /* border-color: #646cff; */
}

button:focus,
button:focus-visible {
  outline: 2px solid -webkit-focus-ring-color;
}

.icon {
  /* width: */
  aspect-ratio: 1 / 1;
  border-radius: var(--radius-rounded);
  background: var(--gradient-primary);
  padding: var(--space-sm);
  color: var(--color-reverse);
  position: relative;
}

.icon svg {
  width: var(--icon-sm);
  height: var(--icon-sm);
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
}

.buttonPrimary {

}

.buttonSecondary {
    
}

.buttonTertiary {
    background: transparent;
    padding: 0;
    transition: color var(--anim-short);
    z-index: 1;
}

.buttonTertiary .buttonText {
    z-index: 1;
    padding: 0;
    margin: 0;
}

.buttonTertiary::after {
    --background-offset-vertical: -3px;
    --background-offset-horizontal: -8px;
    content: "";
    position: absolute;
    top: var(--background-offset-vertical);
    right: 100%;
    bottom: var(--background-offset-vertical);
    left: var(--background-offset-horizontal);
    background-color: var(--color-header);
    border-radius: var(--radius-rounded);
    z-index: 0;
    opacity: 0;
    transition: right var(--anim-short), opacity var(--anim-short);
}

.buttonTertiary:hover::after {
    opacity: 1;
    right: calc(var(--background-offset-horizontal) - var(--space-2xs));
    transition: right var(--anim-short), opacity var(--anim-short);
}

.buttonTertiary:hover {
    color: var(--color-primary);
}

.buttonTertiary svg {
    width: 8px;
    stroke-width: 2;
    translate: 0 0;
    transition: translate var(--anim-short);
    z-index: 1;
}

.buttonTertiary:hover svg {
    translate: var(--space-2xs) 0;
}



.buttonTertiary:focus,
.buttonTertiary:focus-visible {
  outline-offset: var(--space-2xs);
}