.events {
  --scroll-progress: 0px;
  min-height: 300lvh;
  position: relative;
  z-index: 1;
  background-color: var(--color-reverse);
  /* background-color: var(--color-primary); */
  /* padding: var(--header-height) var(--page-margin) var(--space-xl) var(--page-margin-narrow); */
}

.eventsInner {
  display: flex;
  flex-direction: column;
  gap: var(--space-lg);
  position: sticky;
  top: 0;
  min-height: 100lvh;
  justify-content: center;
  overflow: hidden;
  padding: var(--space-xl) 0;
}

.eventRows {
  display: flex;
  flex-direction: column;
  gap: var(--space-sm);
  rotate: -1deg;
  opacity: 1;
  translate: 0 0px;
  transition: opacity var(--anim-lg);
}

.eventRows[data-animate-hidden="true"] {
  opacity: 0;
  /* translate: 0 60px; */
}

.sectionTitle {
  color: var(--color-primary);
  text-align: center;
}

.eventsRow {
  max-width: 100%;
  gap: var(--space-sm);
  display: flex;
  flex-direction: row;
  will-change: translate;
  /* transition: translate 0.1s var(--anim-easing); */
  translate: calc(var(--scroll-progress) * -1) 0px;
}

.eventsRow:nth-child(2n + 1) {
  justify-content: flex-end;
  translate: var(--scroll-progress) 0px;
}

.event {
  background-color: var(--color-light);
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;
  flex: auto 0 0;
  height: 30lvh;
  border-radius: var(--radius-lg);
  overflow: hidden;
  position: relative;
  aspect-ratio: 3 / 4;
}

.event::before {
  content: "";
  background-color: var(--color-primary);
  /* background: linear-gradient(0deg, rgba(27, 69, 217, 100%) 0%, rgba(27, 69, 217, 50%) 100%); */
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0.7;
}

.image {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}

.info {
  /* display: none; */
  padding: var(--space-xs);
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  gap: var(--space-sm);
  justify-content: flex-end;
  align-items: flex-start;
  flex-grow: 1;
  position: relative;
  z-index: 2;
  color: var(--color-reverse);
}

.badge {
  padding: var(--space-2xs) var(--space-sm);
  background-color: var(--color-reverse);
  border-radius: var(--radius-rounded);
  color: var(--color-primary);
}
