.events {
  width: 100%;
}

.event {
  /* width: 100%; */
  /* height: 300dvh; */
  display: flex;
  flex-direction: column;
  /* margin: var(--space-md); */
  /* position: sticky; */
}

.event:nth-child(2n) {
  /* flex-direction: row-reverse; */
}

.sectionMain {
  position: sticky;
  top: 0;
  flex-grow: 1;
  height: 100lvh;
  z-index: 0;
}



.mainImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  will-change: filter;
  transition: filter var(--anim-easing) 2s;
}

.sectionMain:global(.subdued) .mainImage {
  filter: brightness(0.1) grayscale(100%);
}

.eventInfo {
  position: sticky;
  top: 50lvh;
  height: 100lvh;
  color: var(--color-reverse);
  display: flex;
  flex-direction: column;
  gap: var(--space-xs);
  color: var(--color-reverse);
  text-align: center;
  z-index: 2;
  /* mix-blend-mode: difference; */
}

.event:nth-child(2n) .eventInfo {
  /* left: var(--space-xl); */
}

.imageScroller {
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-self: flex-start;
  align-items: stretch;
  padding: var(--space-xl);
  gap: var(--space-xl);
  overflow: visible;
  z-index: 1;
  align-self: center;
}


.image {
  width: 100%;
  min-width: 0;
  flex-shrink: 0;
  border-radius: var(--radius-lg);
  cursor: pointer;
}

@media screen and (max-width: 768px) {

  .imageScroller {
    width: 70vw;
  }
  
}
