.launches {
  min-height: 300lvh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  z-index: 1;
  background-color: var(--color-reverse);
}

.launchesInner {
  position: sticky;
  top: 0;
  overflow-x: hidden;
}

.sectionTitle {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  z-index: 2;
  border-radius: var(--radius-sm);
  display: flex;
  flex-direction: column;
  align-items: stretch;
  text-align: center;
  padding: var(--space-sm);
  color: var(--color-primary);
  gap: var(--space-xs);
  /* scale: calc( max(1, 2 * var(--scroll-progress))); */
}

.imageGrid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  min-height: 100lvh;
  perspective: 6000px;
  z-index: 1;
}

.logoImage {
  --min-scale: 800px;
  --max-scale: 6000px;
  --max-blur: 20px;
  --max-translate: 10vh;
  --offset: 1;
  --scroll-progress-full: var(--scroll-progress) / var(--offset);
  --scroll-progress-doubled: calc(var(--scroll-progress-full) * 2 - 1);
  --scroll-progress-mid: calc(1 - max( var(--scroll-progress-doubled), -1 * var(--scroll-progress-doubled)));
  --depth: calc( (var(--min-scale) - var(--max-scale)) * ( var(--scroll-progress-full) ) + var(--min-scale));
  width: 100%;
  height: auto;
  will-change: translate, filter, scale, opacity;
  translate: 0 0 var(--depth);
  filter: blur( calc( (1 - var(--scroll-progress-mid)) * var(--max-blur) )  );
  opacity: var(--scroll-progress-mid);
}

.logoImage:nth-child(2n) {
  --offset: 0.5;
 }

.logoImage:nth-child(3n) {
  --offset: 1.5;
 }

@media screen and (max-width: 768px) {

  .imageGrid {
    grid-template-columns: repeat(3, 1fr);
  }

  .logoImage:nth-child(4n) {
    --offset: 1;
   }

  .logoImage:nth-child(4n + 1) {
    --offset: 0.5;
   }

   .logoImage:nth-child(4n + 2) {
    --offset: 1.5;
   }

   .logoImage:nth-child(4n + 3) {
    --offset: 0.75;
   }

   .logoImage:nth-child(4n + 4) {
    --offset: 1.25;
   }
}