.team {
  min-height: 100svh;
  padding: var(--space-xl) var(--page-margin);
}

.sectionTitle {
  height: 100svh;
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: var(--space-sm);
  color: var(--color-primary);
  gap: var(--space-xs);
} 

.teamMembers {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.teamMember {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-sm);
  height: 60svh;
}

.teamMember:nth-child(6n + 1) {
  justify-content: center;
}

.teamMember:nth-child(6n + 2) {
  justify-content: flex-end;
}

.teamMember:nth-child(6n + 3) {
  justify-content: flex-start;
}

.teamMember:nth-child(6n + 4) {
  justify-content: flex-start;
}

.teamMember:nth-child(6n + 5) {
  justify-content: flex-end;
}

.teamMember:nth-child(6n + 6) {
  justify-content: center;
}

.image {
  border-radius: var(--radius-rounded);
  filter: grayscale(1);
  width: 60%;
  aspect-ratio: 1 / 1;
}

.info {
  display: flex;
  flex-direction: column;
  gap: var(--space-xs);
}