/* .header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    padding: var(--page-margin);
    z-index: 9;
    color: var(--color-ink);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: var(--header-height);
    color: var(--color-reverse);
    mix-blend-mode: difference;
} */

.brandMenu {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
    height: var(--header-height);
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: var(--radius-lg);
    padding: 0 var(--page-margin);
    color: var(--color-reverse);
    mix-blend-mode: difference;
}

.brandLink {
    position: absolute;
    /* left: var(--page-margin-narrow); */
    top: 0;
    left: 50%;
    translate: -50% 0;
    width: max-content;
    margin: 0;
    color: inherit;
}

.logo {
    width: 60px;
    color: currentColor;
}

.contactMenu {
    position: fixed;
    top: 0;
    right: 0;
    padding: 0 var(--page-margin);
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--space-sm);
    z-index: 9;
    height: var(--header-height);
}

@media screen and (max-width: 768px) {
    .brandLink {
        display: none;
    }

    .logo {
        width: 40px;
    }
}