.events {
  width: 100%;
}

.event {
  display: flex;
  flex-direction: column;
}

.sectionMain {
  position: sticky;
  top: 0;
  flex-grow: 1;
  height: 100lvh;
  z-index: 0;
}

.mainImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  will-change: filter;
  transition: filter var(--anim-easing) 2s;
  position: relative;
  z-index: 0;
}

.sectionMain::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-primary);
  z-index: 1;
  opacity: 0;
  mix-blend-mode: screen;
  transition: opacity 2s var(--anim-easing);
}

.sectionMain:global(.subdued) .mainImage {
  /* filter: grayscale(100%); */
  filter: grayscale(1) contrast(0.4);
}

.sectionMain:global(.subdued)::before {
  opacity: 1;
} 

/* .sectionMain:global(.subdued) .mainImage {
  filter: brightness(0.1) grayscale(100%);
} */

.eventInfo {
  position: sticky;
  top: 50lvh;
  height: 100lvh;
  color: var(--color-reverse);
  display: flex;
  flex-direction: column;
  gap: var(--space-xs);
  color: var(--color-reverse);
  padding: 0 var(--page-margin);
  text-align: center;
  z-index: 2;
}

.imageScroller {
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-self: flex-start;
  align-items: stretch;
  padding: var(--space-xl);
  gap: var(--space-xl);
  overflow: visible;
  z-index: 1;
  align-self: center;
}


.image {
  width: 100%;
  min-width: 0;
  flex-shrink: 0;
  border-radius: var(--radius-lg);
  cursor: pointer;
}

@media screen and (max-width: 768px) {

  .imageScroller {
    width: 80vw;
  }
  
}
