.recognition {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: var(--space-xl) var(--page-margin) var(--space-xl) var(--page-margin-narrow);
}

.sectionTitle {
  margin-bottom: var(--space-lg);
  color: var(--color-primary);
  z-index: 1;
}

.awardItem {
  border-top: 1px solid var(--color-ink);
  padding: var(--space-lg) var(--space-sm);
  position: relative;
  z-index: 1;
  transition: background-color var(--anim-easing) .3s;
}

.awardItem:hover {
  background-color: var(--color-primary);
  color: var(--color-reverse);
}

.awardInfo {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  align-items: center;
  z-index: 1;
  mix-blend-mode: difference;
}

.client {
  flex: 20% 0 0;
  /* color: var(--color-subdued); */
}

.award {
  flex-grow: 1;
  color: currentColor;
}

.source {
  color: currentColor;
}

.imageWrapper {
  position: absolute;
  top: 50%;
  right: 10%;
  opacity: 0;
  z-index: 0;
  pointer-events: none;
  background-color: blue;
  translate: 0% -50%;
  width: 30lvh;
  transition: opacity var(--anim-easing) .3s;
  border-radius: var(--radius-lg);
}

.awardItem:hover .imageWrapper {
  opacity: 1;
}

.image {

}


@media screen and (max-width: 768px) {

  .awardItem {
    padding: var(--space-lg) 0;
    color: var(--color-ink);
    mix-blend-mode: unset;
  }

  .awardItem:hover {
    background-color: transparent;
    color: var(--color-ink)
  }

  .awardInfo {
    flex-direction: column;
    align-items: stretch;
    gap: var(--space-xs);
  }

  .client {
    /* margin-bottom: var(--space-xs); */
  }

  .imageWrapper {
    display: none;
  }

}