.news {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--space-lg);
  padding: var(--header-height) var(--page-margin) var(--space-xl) var(--page-margin-narrow);
}

.newsPosts {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  align-items: stretch;
  gap: var(--space-md);
  width: 100%;
}

.newsPost {
  border-radius: var(--radius-lg);
  background-color: var(--color-light);
  padding: var(--space-xs);
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: var(--space-xs);
  flex: 50% 0 1;
  min-width: 0;
}

.image {
  flex: 40% 0 0;
  min-width: 0;
  border-radius: var(--radius-lg);
  aspect-ratio: 8 / 6;
  width: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--space-md);
  flex: auto 1 1;
  padding: var(--space-sm) var(--space-sm);
}

.title {
  display: flex;
  flex-direction: column;
  gap: var(--space-xs);
}

.info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* gap: var(--space-xs); */
}

@media screen and (max-width: 600px) {
  .newsPosts {
    flex-direction: column;
  }
}