.launches {
  min-height: 400svh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.launchesInner {
  position: sticky;
  top: 0;
  overflow-x: hidden;
}

.sectionTitle {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  z-index: 2;
  border-radius: var(--radius-sm);
  display: flex;
  flex-direction: column;
  align-items: stretch;
  text-align: center;
  padding: var(--space-sm);
  color: var(--color-primary);
  gap: var(--space-xs);
  /* scale: calc( max(1, 2 * var(--scroll-progress))); */
}

.imageGrid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  min-height: 100svh;
  perspective: 6000px;
  z-index: 1;
}

.logoImage {
  --min-scale: 500px;
  --max-scale: 6000px;
  --max-blur: 20px;
  --max-translate: 10vh;
  width: 100%;

  --duration: calc(var(--seed) * 0.75 + 0.2);
  --scroll-progress-full: calc(var(--scroll-progress) / var(--duration));
  --scroll-progress-mid: calc( min( min(var(--duration), var(--scroll-progress-full) * 2), var(--duration) - var(--scroll-progress-full)));
  --depth: calc( (var(--min-scale) - var(--max-scale)) * var(--scroll-progress-full) + var(--min-scale));

  will-change: translate, filter, scale, opacity;
  translate: 0 0 var(--depth);
  filter: blur( calc( (var(--duration) - var(--scroll-progress-mid) * 2) * var(--max-blur)));
  opacity: var(--scroll-progress-mid);
}

@media screen and (max-width: 768px) {
  .imageGrid {
    grid-template-columns: repeat(3, 1fr);
  }
}